body {
    background-color: #111111;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    background-color: #222222;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

input {
    background-color: #303244;
    border-radius: 10px;
    border-style: none;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}

button {
    background-color: #303244;
    border-style: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}

button:hover:enabled {
    background-color: #464c80;
}

button:disabled {
    color: gray;
}

button:enabled {
    color: white;
}

select {
    background-color: #303244;
    border-style: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}

img {
    max-width: 100%;
}

.autocomplete-option {
    background-color: #111111;
}

ul {
    list-style-type: none;
}

.thumbnails-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #373737;
    border-radius:15px;
    margin: 5px;
    padding: 3px;
    display: inline-block;
}

.nav-buttons-div {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #373737;
    border-radius:15px;
    margin: 5px;
    padding: 3px;
    display: inline-block;
}

.nav-button {
    margin: 3px;
    padding: 6px;
    border: 2px solid #888;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-frame {
    background-color: #333333;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 60%; /* Could be more or less, depending on screen size */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}